<%= render "shared/navbar" %>

<div class="container polaroid">
  <div class="inside-polaroid">
    <h1>Edit Pic</h1>

    <%= simple_form_for (@pic) do |f| %>
      <%= f.input :title, label: "Title" %>
      <%= f.input :description, label: "Description", input_html: { rows: 10 } %>
      <%= f.submit "Update", class:"btn btn-info" %>
    <% end %>
    <br>
    <%= link_to "Cancel", root_path %>
  </div>
</div>

