<%= render "shared/navbar" %>

<div class="container polaroid">
  <div class="inside-polaroid">
    <h1>New Post</h1>

    <%= simple_form_for (@pic) do |f| %>
      <%= f.input :photo, as: :file %>
      <%= f.input :title, label: "Title" %>
      <%= f.input :description, label: "Description", input_html: { rows: 10 } %>
      <%= f.submit "Post", class:"btn btn-info" %>
    <% end %>
    <br>
    <%= link_to "Discard", root_path, data: { confirm: "Discard this post?" } %>
  </div>
</div>
