<%= render "shared/navbar" %>

<h1><%= @pic.title %></h1>
<h2><%= @pic.description %></h2>
<h4><%= @pic.user.email %></h4>

<hr>
<%= link_to "Edit", edit_pic_path %>
<br>
<%= link_to "Delete", pic_path, method: :delete, data: { confirm: "Permanently delete this post?" } %>
<br>
<%= link_to "Back to Home", root_path %>
