  <div class="homepage container">
  <div class="container">
    <%= image_tag "instapics_homepage_banner.png", alt:"Instapics Banner", id:"banner" %>
  </div>

  <div class="container home-sign">
    <div id="home-logo">
      <%= image_tag "instapics_logo_in_letters.png", alt: "Instapics Logo", id:"logo-letters" %>
    </div>

    <div class="login-parts">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

      <div><%= f.submit "Sign up", class:"btn btn-primary" %></div>
    <% end %>
    </div>

    </div>
  </div>
